@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

.container-main-page {
  height: 100vh;
  width: 100vw;
}

.background-modal-active {
  filter: blur(3px) contrast(0.8) brightness(0.8);
}

header {
  height: 15vh;
  width: 100%;
}

main {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-today {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 91vw;
}

.container-calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 78vh;
  width: 91vw;
}

.days-calendar {
  display: flex;
  height: 7vh;
  width: 91vw;
}

.days-calendar div {
  height: 7vh;
  width: 13vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  height: 66vh;
  width: 91vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.calendar-animation {
}

.days {
  height: 10vh;
  width: 12.4vw;
  margin: 0.1vw 0.3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  box-shadow: 1px 1px 3px black;
}

.btn-disactivated {
  width: 1.4em;
  font-size: 1.2em;
  position: absolute;
  bottom: 0px;
  background-color: white;
  cursor: pointer;
  padding: 0.2em 0em 0em 0.5em;
  border: none;
  border-radius: 30px 0px 0px 0px;
  box-shadow: -1px -1px 3px black;
  display: none;
}

.btn-disactivated:hover {
  display: flex;
}

.btn-activated {
  display: flex;
}

.days h4 {
  position: absolute;
  background-color: white;
  padding: 0.2em 0.3em;
  z-index: -1;
}

.container-display-events {
  padding: 1.6em 0.1em 0.1em 0.1em;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
  direction: rtl;
  cursor: pointer;
}

.container-display-events::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}

.container-display-events::-webkit-scrollbar-thumb {
  width: 6px;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
}

.container-display-events div {
  direction: ltr;
  margin-bottom: 1px;
  padding: 0.1em;
  font-size: 0.8em;
  width: 100%;
  z-index: -1;
}

.todayDay {
  border: 3px solid black;
}

#leftArrow,
#rightArrow {
  cursor: pointer;
}

/* MODAL STYLE */

.modal-add-edit-event {
  height: 80vh;
  width: 50vw;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 10vh;
  left: 25vw;
  background-color: white;
  box-shadow: 0px 0px 10px black;
}

.modal-active {
  z-index: 2;
  display: flex;
}

form {
  height: 70vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.modal-container-btn-add {
  display: none;
}

.modal-container-btn-edit {
  display: none;
}

.btns-active {
  display: flex;
}

.datetime-finish {
  display: none;
}

.datetime-finish-active {
  display: flex;
}

.reminder {
  display: none;
}

.reminder-active {
  display: flex;
}

.expired-event {
  background-color: rgba(255, 0, 0, 0.137);
  color: rgba(0, 0, 0, 0.235);
}

.warning-event-expired {
  min-height: 20vh;
  width: 40vw;
  background-color: coral;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 25vh;
  left: 30vw;
  background-color: #b2b2b2;
  box-shadow: 0px 0px 10px black;
  color: rgb(15, 11, 11);
  padding: 1em;
}

.warning-active {
  z-index: 4;
  display: flex;
}

.warning-symbol-expired {
  font-size: 3.8em;
}

.title-event-expired {
  font-size: 23px;
}

#closeWarningExpired {
  font-size: 1.5em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0.4em;
  top: 0pt;
}

#containerEventsExpired {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding-top: 1em;
}

#containerEventsExpired h4 {
  margin-bottom: 1em;
}
